.orderDetailContainer{
  width: 1870px;
  height: 710px;
  background-color: rgba(192, 192, 192, 0.5);
  display: flex;
  .order-details{
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 600px;
    background: white;
    padding: 20px;
    font-size: 20px;
    //border-radius: 30px;
    //border: 1px solid gray;
    box-shadow: 0px 5px 5px #338000;
    .back{
      float: right;
      margin-right: 20px;
      font-weight: bold;
      color: red;
      text-decoration: none;
    }

  }
}
