.container{
  margin-top: 100px;
  max-width: 1034px !important;
  height: 480px;
  border: 1px solid black;
  background: white;
    .content {
      margin-top: 30px;
      width: 1000px;
      display: flex;
      margin-left: 20px;

      .register {
        label {
          margin-top: 15px;
          margin-left: 20px;
        }

        margin-top: -30px;
        width: 525px;
        height: 480px;
        margin-left: 30px;
        background: #48b6a9;
        color: white;

        .contents {
          width: 475px;
          margin-left: 20px;

          input {
            width: 300px;
            margin-left: 30px;
            margin-top: 20px;
            border-radius: 10px;
            border: none;
          }

          .btn {
            position: absolute;
            margin-top: 20px;
            margin-left: 170px;

            button {
              width: 120px;
              height: 40px;
              border-radius: 10px;
              background: white;
              border: none;
            }
          }
        }
      }

      .login {
        width: 475px;
        height: 410px;
        color: #228075;

        input {
          width: 300px;
          margin-left: -150px;
          border-radius: 10px;
          margin-top: 20px;
        }

        .slectet {
          margin-top: 10px;
          display: flex;
          width: 190px;

          .icon_footer {
            margin-left: 20px;

            .icon {
              margin-left: 10px;
            }
          }

        }

        .btn {
          margin-top: 20px;
          margin-left: 150px;
         button{
           width: 120px;
           height: 40px;
           border-radius: 10px;
           background: #48b6a9;
           color: white;
           border: none;
         }
        }
      }
    }

}